{% extends "base.html" %}

{% block title %}우리의 편지{% endblock %}

{% block content %}
    <h1>사랑하는 연우에게</h1>
    
    <div style="text-align: left; margin-top: 30px;">
        <p>
            연우야, 벌써 우리가 만난 지 200일이야. 시간 진짜 빠르지? 핸드폰 어플로 날짜 세고 있는 거 보니까 기분이 좀 이상하더라. 처음 같이 탁구치던게 엊그제 같은데 어느새 이렇게 됐네.
        </p>
        <p>
            생각해보면 뭐 엄청 특별한 걸 한 건 아닌데, 그냥 너랑 같이 보낸 시간들이 다 좋은 기억으로 남은 것 같아. 아침마다 같이 밥 먹고, 영화관에서 꾸벅꾸벅 졸고, 그냥 동네 걸으면서 얘기했던 것들 말이야. 
         <p> 
            특히 아침잠 많은 내가 너랑 같이 먹으려고 일찍 일어나거 첨은 힘들지만 여누를 본다는 생각을 하면 기분이 좋아져 연우는 나한테 큰 행복이라는거야.
        </p>
            <p>  
            물론 가끔은 서로한테 서운해서 뚱해있던 날도 있었지. 근데 신기하게도 그런 날들 덕분에 우리가 서로에 대해 더 잘 알게 된 것 같아. '아, 연우는 이럴 때 속상해하는구나' 하고 배우는 시간이었어
        </p>
        <p>
            옆에 있어 줘서 진짜 고맙다는 말을 꼭 하고 싶었어. 네가 있어서 힘든 일도 별거 아닌 것처럼 느껴지고, 그냥 웃을 일도 더 많아지는 것 같아. 나한테는 네가 그런 사람이야.
        </p>
        <p>
            앞으로 300일, 1년, 또 그다음에도 지금처럼 재밌게 지내자. 더 맛있는 것도 많이 먹으러 다니고!
        </p>
        <p>
            200일 동안 정말 고마웠어. 앞으로도 잘 부탁해! 사랑해!!
        </p>
        <p style="text-align: right; margin-top: 40px; font-style: italic; color: #d85c88;">- 연우를 사랑하는 민수가 -</p>
    </div>
{% endblock %}